<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534576110275-r6rvb0vgeog1gi32514mle6f10vp9sms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534576110275-r6rvb0vgeog1gi32514mle6f10vp9sms</string>
	<key>API_KEY</key>
	<string>AIzaSyBgP2Bx5HVShMC0oj97Oh53rPDCEVN59Uw</string>
	<key>GCM_SENDER_ID</key>
	<string>534576110275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pushparaj.flashChatflutter</string>
	<key>PROJECT_ID</key>
	<string>flashchatios13-70a54</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatios13-70a54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534576110275:ios:7880958f739b8555176076</string>
</dict>
</plist>